body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #71C4A8;
    color: #FFFFFF;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: relative;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 179.4px;
    height: 174.6px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
}

.menu-toggle {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-icon div {
    width: 100%;
    height: 3px;
    background-color: white;
}

.nav-links {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background-color: #4CAF50;
    text-align: center;
}

.nav-links.active {
    display: flex;
}

.nav-links li {
    margin: 15px 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
}

/* Restante do CSS */
main {
    padding: 2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
}

h1 {
    color: #4CAF50;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.medica {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.medica img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}